.error {
  &__group {
    @include flexColumn;
    @include sizeWH(100%);

    align-items: center;
    padding: 150px 24px 0;
    text-align: center;
  }

  &__title {
    @include fontBodyLead(400);
  }

  &__desc {
    @include fontBodyLarge(400);
  }
  &__desc2 {
    @include fontBodySemiLarge(400);
  }

  // &__image {
  //   width: 153px;
  //   max-width: 100%;
  //   margin-top: 100px;
  //   aspect-ratio: 153 / 124;
  // }
  &__image {
    width: 100px;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    aspect-ratio: 100 / 100;
    background: url(/assets/svg/Logo-symbol-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @include flexCenter;
    &-number {
      @include fontBodyLead(400, white);
    }
  }
}