.logo {
  &-mediabee {
    // @include sizeWH(126px, 20px);
    @include sizeWH(120px, 19px);
    // margin-right: 28px;
    margin-right: 4px;

    > svg {
      display: block;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}

.symbol {
  &-mediabee {
    @include sizeWH(40px, 40px);

    > svg {
      display: block;
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}