$gray-50: #fcfcfc;
$gray-100: #f9f9f9;
$gray-150: #f5f5f5;
$gray-200: #f0f0f0;
$gray-250: #e8e8e8;
$gray-300: #e1e3e3;
$gray-350: #d9dbdb;
// $gray-400: #d4d7d7;
$gray-400: #d2d4d4;
$gray-450: #c2c4c4;
$gray-500: #b2b4b4;
$gray-550: #979999;
$gray-600: #7d7f7f;
$gray-700: #4e5050;
$gray-800: #383a3a;
$gray-900: #202121;

$teal-100: #f0feff;
$teal-150: #daf0f2;
$teal-200: #a5e1e8;
$teal-250: #92d9e0;
$teal-300: #78d2de;
$teal-400: #46c3d4;
$teal-500: #18b7cc;
$teal-600: #0094a8;
$teal-700: #136c78;
$teal-800: #0d474f;
$teal-900: #062529;

$green-100: #d1e7dd;
$green-200: #a3cfbb;
$green-300: #75b798;
$green-400: #479f76;
$green-500: #198754;
$green-600: #146c43;
$green-700: #0f5132;
$green-800: #0a3622;
$green-900: #051b11;

$red-100: #f8d7da;
$red-200: #f1aeb5;
$red-300: #ea868f;
$red-400: #e35d6a;
$red-500: #dc3545;
$red-600: #b02a37;
$red-700: #842029;
$red-800: #58151c;
$red-900: #2c0b0e;

$yellow-100: #fff5cc;
$yellow-200: #ffea9c;
$yellow-300: #ffdf6b;
$yellow-400: #ffd438;
$yellow-500: #ffca08;
$yellow-600: #cca106;
$yellow-700: #997905;
$yellow-800: #675103;
$yellow-900: #342901;

$blue-700: #005392;
// $alert-bg: #ebf8fa;
// $alert-info-bg: #EBF5FF;
// $alert-info-text: #0070C0;
// $alert-info-border: #6FB2DF;
// $alert-success-bg: #ebfaeb;
// $alert-success-text: #008500;
// $alert-success-border: #a4d790;
// $alert-danger-bg: #ebfaeb;
// $alert-danger-text: #008500;
// $alert-danger-border: #a4d790;
// $alert-danger-bg: #FDEEF0;
// $alert-danger-text: #B33530;
// $alert-danger-border: #E07470;
// $alert-warning-bg: #FCF3E6;
// $alert-warning-text: #DE7300;
// $alert-warning-border: #F6AE0A;
$alert-bg: #ebf8fa;
$alert-info-bg: #F3FAFF;
$alert-info-text: #2196F3;
$alert-info-border: #6FB2DF;
$alert-success-bg: #F6FCF6;
$alert-success-text: #00B050;
$alert-success-border: #a4d790;
$alert-danger-bg: #ebfaeb;
$alert-danger-text: #008500;
$alert-danger-border: #a4d790;
$alert-danger-bg: #FEF4F5;
$alert-danger-text: #EF404D;
$alert-danger-border: #E8918E;
$alert-warning-bg: #FCF3E6;
$alert-warning-text: #f28900;
$alert-warning-border: #F6AE0A;
$alert-common-text: #383a3a;

$body-text: $gray-900;
$body-link: $teal-600;
$body-selected: #eef9fa;
$body-background: #f5f5f5;
$bg-keyword: #ffe8bd;
$black: #000000;
$white: #ffffff;
$focused: #77bfc7;
$form-border: $gray-450;
$block-header: #666f80;
$block-header: #d5d7db;