.project {
  &__group {
    padding: 12px 24px;

    .flexible__section {
      padding: 0;
    }
  }

  &-header {
    &__section {
      position: sticky;
      top: 0;
      z-index: 100;
      padding: 12px 24px 0;
      background: $white;
      box-shadow: inset 0 -1px 0 0 $gray-300;
    }
    
    &-control {
      &__list {
        @include flexJustBet;

        > li {
          @include flexAlignCen;
        }

        .control {
          &-path {
            flex-grow: 1;
            overflow: hidden;

            &-arrow {
              .ico-svg {
                color: $gray-700;
              }
            }

            &-name {
              @include fontHeadings(h5);
              @include ellipsis;

              padding: 0 14px;
            }
          }

          &-obj {
            flex-shrink: 0;

            [class*="control-obj-"] {
              &:not(:last-of-type) {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
  }

  &-item {
    &__title {
      @include fontBodyLarge(400);
      padding-bottom: 8px;
    }

    &__header {
      @include flexAlignCen;
      padding-bottom: 14px;
    }

    &__subtitle {
      @include fontHeadings(h5);

      flex-grow: 1;
      height: 21px;
    }

    &__desc {
      @include fontBodyRegular(400);
    }

    &__section {
      @include flexColumn;
      @include borderStyle("multi");
      @include shadowStyle(s);
       
      height: 100%;
      padding: 20px 24px 24px;
      background: $white;
      border-radius: 4px;

      .dl-table-type1__section {
        dt,
        dd {
          &:not(:first-of-type) {
            margin-top: 7px;
          }
        }

        dt {
          width: 90px;
        }

        dd {
          width: calc(100% - 90px);
        }
      }

      &.type-add {
        align-items: center;
        padding-top: 48px;
        padding-bottom: 48px;
      }
    }

    &__select {
      @include flexAlignCen;
      height: 21px;

      .select {
        &__label {
          &-text {
            padding-right: 3px;
            transform: translateY(-1px);
          }

          .ico-svg {
            margin-left: 0;
          }
        }
      }

      .ico-svg {
        @include sizeWH(12px);

        flex-shrink: 0;
        margin-left: 8px;
      }
    }

    &__table {
      .table-type3__section {
        table {
          tr {
            &:first-child {
              th,
              td {
                padding-top: 4px;
              }
            }

            &:last-child {
              th,
              td {
                padding-bottom: 4px;
              }
            }
          }
        }
      }
    }

    &__button {
      .project-item__desc + & {
        margin-top: 28px;
      }
    }

    &-graph {
      &__section {
        @include flexJustCen;
        
        flex-grow: 1;
        min-height: 241px;
      }
    }
  }
}